
<!DOCTYPE html>
<html lang="en">

<head>
    <script type= "text/javascript" src = "countries.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Courier Details</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Vikmans</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<br>
    <br>
    <br>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Courier Details</h1>
                        <hr class="small">
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Fill the courier details as follows</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                



                <%= form_for :cour do |f| %> 
                <p>
                  <%= f.label :c_name, "Courier Name" %><br>
                  <%= f.collection_select :c_name, Cour::C_NAME, :to_s, :to_s, :include_blank => true %>
                </p>
               
                <p>
                  
                  <%= f.label :p_name, "Person Name" %><br>
                  <%= f.text_field :p_name %>
                </p>

                <br>
                <p>
                    <%= f.label :country, "Select Country" %> 
                    <%= f.country_select :country, :prompt => 'Select Country', :id => 'country', :name => 'country' %>
                    <%= f.label :state, "Select State" %> 
                    <%= f.country_select :state, :prompt => 'Select State', :id => 'state', :name => 'state' %>
                <p>
                </p> 
                <!-- 
                <%= f.label :country, "Select Country" %> <select id="country" name ="country" ></select>     
                <%= f.label :state, "Select State" %> <select id="state" name ="state"></select> 
                   
                <p>
                    
                </p>
                
                <script language="javascript">
                populateCountries("country", "state");
                </script>
                -->
                <br>
                <p>
                
                  <%= f.label :city %>
                  <%= f.collection_select :city, Cour::CITY, :to_s, :to_s, :include_blank => true %>
                </p>
                <br>

                <p>
                  
                  <%= f.label :ABN, "ABN No." %><br>
                  <%= f.text_field :abn %>
                </p>


                <p>
                  
                  <%= f.label :mob,"Mobile Number" %><br>
                  <%= f.text_field :mob %>
                </p>

                <p>
                  <%= f.label :email, "Email" %><br>
                  <%= f.text_field :email %>
                </p>


               <p>
                <%= f.label :c_type,"Courier Type" %><br>
                <%= f.collection_select :c_type, Cour::C_TYPE, :to_s, :to_s, :include_blank => true %>

               </p>

                

                <p>
                  <%= f.label :comp_name %><br>
                  <%= f.text_field :comp_name %>
                </p>

                <p>
                  <%= f.label :trans_date %><br>
                  <%= f.text_field :trans_date %>
                </p>

                <p>
                  <%= f.label :landline_no %><br>
                  <%= f.text_field :landline %>
                </p>


                <p>
                  <%= f.label :pin_no %><br>
                  <%= f.text_field :pin %>
                </p>

                <p>
                  
                  <%= f.label :sms_reply %><br>
                  <%= f.text_field :sms_reply %>
                </p>

                <p>
                  
                  <%= f.label :delivery_date %><br>
                  <%= f.text_field :delivery_date %>
                </p>

                <p>
                  
                  <%= f.label :web_confirm %><br>
                  <%= f.text_field :web_confirm %>
                </p>

                <p>
                  
                  <%= f.label :trans_status %><br>
                  <%= f.text_field :trans_status %>
                </p>

               <p>
                  
                  <%= f.label :remarks %><br>
                  <%= f.text_field :remarks %>
                </p>

<br>
                <p>
                  <%= f.submit %>
                </p>
              <% end %>




                
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Vikmans</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
